
/*  Reset */
*{
 padding: 0;
 box-sizing: border-box;
 margin: 0;

}

body{

background: #000;

}

#maincontainer{
    position: relative ;
    width:90vw ;
    height:100vh ;
    display:flex;
    margin :0 auto;
    align-items: center;
    justify-content: center;


}

.rhs_hand{
position:absolute ;
z-index: 4;
transform:translate(-30px, -260px);
animation-name: walk2;
animation-duration: 10s ;
animation-iteration-count: infinite;
}

.lhs_hand{
    position:absolute ;
    z-index: 3;
    transform:translate(-65px, -360px);
    animation-name: walk1;
    animation-duration: 10s ;
    animation-iteration-count: infinite;

}

.logo{
    position:absolute ;
    z-index: 1;
    transform:translate(0px, 0px);
    animation-name: rotate;
    animation-duration: 20s ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.welcometext{
    position:absolute ;
    transform:translate(150px ,-300px) ;
    z-index: 2;
  
    opacity:0;
    animation-name:easein;
    animation-duration:10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    


}


.greetings
{
    position:absolute ;
    font-size: 20px;
    color: #ffc107;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(247,185,0),
                 1px 1px 0 rgb(238,176,0),
                 2px 2px 0 rgb(230,168,0),
                 3px 3px 0 rgb(222,160,0),
                 4px 4px 0 rgb(213,151,0),
                 5px 5px 0 rgb(205,143,0),
                 6px 6px  0 rgb(197,135,0),
                 7px 7px 6px rgba(0,0,0,0.6),
                 7px 7px 1px rgba(0,0,0,0.5),
                 0px 0px 6px rgba(0,0,0,.2);
    font-style: italic;
    transform:translate(-10px ,330px) scale(1.2) ;
    animation-name:slidesbottom;
    animation-duration:10s;
    animation-timing-function: ease-in;
    animation-iteration-count:4;
    animation-direction: alternate-reverse ;
    
}
@keyframes easein {
 
   0%  {

       
        opacity:0 ;
    }

    25% , 50% , 75% {
        opacity: 1 ;
    }

    75% , 100% {
    
        opacity: 0 ;
    }

  
  }


@keyframes rotate {
    from {
    
        transform: scale(0.3) rotate(0deg);
    
      }
      to {
     
        transform: scale(1) rotate(360deg);
      
      }
}



@keyframes walk1 {
    0% {
        transform:translate(-65px, 400px);
    }

  

   10%
    {
        transform:translate(-65px, 400px);

    }

    20%{

        transform:translate(-65px, 200px);
    }

    30%
    {
        transform:translate(-65px, 200px);
    }


    40%{

        transform:translate(-65px, 100px);
    }

    50%
    {
        transform:translate(-65px, 100px);

    }
    60% {

        transform:translate(-65px, -20px);
    }

    70%{
        transform:translate(-65px, -20px);
    }

    80% {
             transform:translate(-65px, -160px);
    }

    90% {
             transform:translate(-65px, -160px);
    }
    100% {
             transform:translate(-65px, -460px);
    }
  }

  @keyframes walk2{
    0% {
        transform:translate(-30px, 460px);
    }

   10%
    {
        transform:translate(-30px, 460px);

    }

    20%
    {
        transform:translate(-30px, 260px);

    }

    30%{

        transform:translate(-30px, 160px);
    }

    40%
    {
        transform:translate(-30px, 160px);

    }
    50% {

        transform:translate(-30px, 40px);
    }
    60% {
       transform:translate(-30px, 40px);
    }
    70% {
        transform:translate(-30px, -80px);
    }
    80% {
        transform:translate(-30px, -80px);
    }
    90% {
        transform:translate(-30px, -260px);
    }
    100% {
        transform:translate(-30px, -260px);
    }
    
  } 

    @keyframes  slidesbottom{
        0% {
            transform :translate(-200px ,-500px) scale(0.2) rotateZ(25deg) ;
        }
        


   }
